.loading {
  height: calc(100vh - 70px);
  display: block;

  & > span {
    margin-top: 30%;
  }
}

.profile-data-container {
  text-align: left;
}

div.profile-avatar {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto 20px;

  & > span {
    display: block;
    height: 100%;
    margin-top: 45%;
  }
}
